.about {
  background-color: $additional-bg_color;
  border-radius: 0 0 30px 30px;
  box-shadow: 0 20px 0 $main-bg_color;

  @media (min-width: $tablet-width) {
    border-radius: 0 0 60px 60px;
    box-shadow: 0 40px 0 $main-bg_color;
  }
}

.about__container {
  padding-top: 31px;
  padding-right: 52px;
  padding-left: 49px;
  padding-bottom: 83px;
  background: url("../../img/about-mobile@1x.png") center no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/about-mobile@2x.png");
    background-size: cover;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    padding-top: 37px;
    padding-right: 384px;
    padding-left: 74px;
    padding-bottom: 89px;
    background-color: $additional-bg_color;
    background-image: none;
    border-radius: 0 0 60px 60px;

    &::after {
      position: absolute;
      width: 376px;
      height: 548px;
      top: 48px;
      right: 8px;
      background-image: url("../../img/about-tablet@1x.png");
      content: "";

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/about-tablet@2x.png");
        background-size: cover;
      }
    }

    &::before {
      position: absolute;
      width: 688px;
      height: 212px;
      top: 0;
      left: 40px;
      background-color: $dark-blue;
      border-radius: 20px;
      content: "";
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 132px;
    padding-left: 130px;
    padding-bottom: 163px;

    &::before {
      width: 212px;
      height: 212px;
      top: 70px;
      left: 60px;
    }

    &::after {
      width: 630px;
      height: 665px;
      top: 85px;
      right: 60px;
      background-image: url("../../img/about-desktop@1x.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/about-desktop@2x.png");
        background-size: cover;
      }
    }
  }
}

.about__header {
  @media (min-width: $tablet-width) {
    position: relative;
    padding-left: 0;
    padding-bottom: 41px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 57px;
  }
}

.about__text {
  margin: 0;
  padding-right: 8px;
  font-family: $main-font;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    position: relative;
    padding-left: 2px;
    padding-bottom: 31px;
    font-size: 28px;
    line-height: 33px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 38px;
    max-width: 619px;
    line-height: 34px;
  }
}

.about__text--emphasis {
  padding-top: 19px;
  font-weight: bold;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 55px;
    font-size: 21px;
    line-height: 25px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 85px;
    max-width: 425px;
    line-height: 24px;
  }
}

.about__link {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    width: 276px;
  }
}
