.alphabet {
  border-collapse: collapse;
}

.alphabet--form {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 262px;
  }

  @media (min-width: $desktop-width) {
    border-collapse: separate;
    border-spacing: 15px;
    width: 361px;
  }
}

.alphabet__cell {
  padding-top: 12px;
  padding-bottom: 15px;
  padding-right: 12px;
  padding-left: 8px;
  text-align: center;
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $main-color;
  background-color: $basic-white;
  border: 1px solid $calendar-grey;

  &--catalog-active {
    color: $basic-white;
    background-color: $special-blue_dark;
  }

  @media (min-width: $tablet-width) {
    &--catalog {
      padding: 0;
      font-weight: bold;
      font-size: 60px;
      line-height: 60px;
      color: rgba($main-color, 0.3);
      background-color: transparent;
      border: none;
    }

    &--catalog-active {
      color: $main-color;
    }
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    vertical-align: top;
  }
}

.alphabet__cell--form {
  &:hover {
    border: 1px solid $input-border_hover_grey;
  }

  @media (min-width: $tablet-width) {
    padding-top: 27px;
    padding-bottom: 27px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}

.alphabet__cell--form-active {
  color: $basic-white;
  background-color: $special-blue_dark;
}


.alphabet__countries {
  display: none;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 30px;

  &--no-padding {
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.alphabet__letter {
  @media (min-width: $desktop-width) {
    color: $light-blue;
  }
}
