.badges {
  @media (min-width: $mobile-width) {
  }
}

.badges__title {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-bottom: 10px;
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  color: $special-grey;

  &--transport {
    padding-left: 2px;
  }

  &--level {
    padding-right: 2px;
  }

  @media (min-width: $mobile-width) {
    display: none;
  }
}

.badges__wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 13px;
}

.badges__transport {
  display: flex;
}
