.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 27px;
  color: rgba($special-blue_dark, 0.15);
  background-color: $basic-blue_light;
  border-radius: 50%;

  &--catalog {
    width: 32px;
    height: 32px;
  }

  &--active {
    color: $special-blue_dark;
  }

  &--special {
    color: $badge_blue;
  }

  &--bg_none {
    background-color: transparent;
  }

  &--big {
    .badge__icon {
      &--plane {
        width: 21px;
        height: 21px;
      }

      &--bus {
        width: 17px;
        height: 19px;
      }

      &--bike {
        width: 24px;
        height: 24px;
      }

      &--run {
        width: 21px;
        height: 23px;
      }
    }
  }

  @media (min-width: $tablet-width) {
    background-color: transparent;
  }
}

.badge__icon {
  &--plane {
    width: 12px;
    height: 14px;
  }

  &--bus {
    width: 13px;
    height: 16px;
  }

  &--bike {
    width: 14px;
    height: 17px;
  }

  &--run {
    width: 13px;
    height: 17px;
  }

  @media (min-width: $tablet-width) {
    &--plane {
      width: 20px;
      height: 20px;
    }

    &--bus {
      width: 23px;
      height: 22px;
    }

    &--bike {
      width: 26px;
      height: 25px;
    }

    &--run {
      width: 23px;
      height: 24px;
    }
  }
}
