.calendar {
  margin-bottom: 22px;
  width: 100%;
  border-collapse: collapse;

  th {
    padding-bottom: 10px;
  }

  td {
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    vertical-align: middle;
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: rgba($special-grey, 0.3);
    border: 1px solid $calendar-grey;
  }
}


.calendar__row {
  &--header {
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: $special-grey;
  }
}

.calendar__day {
  &--weekend {
    color: $calendar-orange;
  }
}
