.calendar {
  width: 100%;
  border-collapse: collapse;
}


.calendar__row {
  &--header {
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: $special-grey;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 18px;
  }
}

.calendar__day {
  padding-bottom: 8px;
  padding-left: 4px;

  &--weekend {
    color: $calendar-orange;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 10px;
    padding-left: 2px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 20px;
    padding-left: 16px;
    text-align: left;
  }
}

.calendar__extended {
  &--day {
    display: none;
  }

  &--month {
    display: none;
  }

  @media (min-width: $tablet-width) {
    &--day {
      display: inline;
    }
  }

  @media (min-width: $desktop-width) {
    &--month {
      display: inline;

      &::before {
        content: "\00a0";
      }
    }
  }
}

.calendar__date {
  position: relative;
  margin: 0;
  padding: 0;
  border: 1px solid $calendar-grey;
}

.calendar__button {
  padding: 0;
  width: 30px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  font-family: $main-font;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: rgba($special-grey, 0.3);
  background-color: transparent;
  border: none;

  &:hover {
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 31px;
      height: 31px;
      border: 2px solid $calendar-orange;
      content: "";
      z-index: 1;
    }
  }

  &--selected {
    color: $basic-white;
    background-color: $special-blue_dark;
  }

  &--available {
    color: $special-blue_dark;
    background-color: $basic-blue_light;
  }

  @media (min-width: $tablet-width) {
    width: 75px;
    height: 68px;
    font-size: 18px;
    line-height: 18px;

    &:hover {
      &::before {
        left: -1px;
        width: 79px;
        height: 68px;
        border-width: 4px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    padding-top: 14px;
    padding-left: 17px;
    padding-bottom: 13px;
    padding-right: 17px;
    width: 140px;
    height: 70px;
    text-align: left;
    font-size: 18px;
    line-height: 18px;

    &:hover {
      &::before {
        top: -2px;
        left: -2px;
        width: 144px;
        height: 74px;
        border-width: 4px;
      }
    }
  }
}


.calendar__hint {
  display: none;
  width: 100%;
  text-align: left;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
