.calendar {
  width: 100%;
  border-collapse: collapse;
}


.calendar__row {
  &--header {
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: $special-grey;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 18px;
  }
}

.calendar__day {
  padding-bottom: 10px;

  &--weekend {
    color: $calendar-orange;
  }
}

.calendar__extended-day {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}

.calendar__date {
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: center;
  vertical-align: middle;
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba($special-grey, 0.3);
  border: 1px solid $calendar-grey;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 18px;
  }
}
