.card {
  margin: 0;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 22px;
  background-color: $basic_white;
  border-radius: 20px;
}

.card__title {
  margin: 0;
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  color: $main_color;
}

.card__interests {
  justify-content: start;
  width: 176px;
  margin: 0;
}

.card__likes {
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: $additional_text-color;
}
