.catalog {
  padding-top: 28px;
  padding-bottom: 46px;
  background-color: $main-bg_color;

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}

.catalog__container {
  @media (min-width: $tablet-width) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 84px;
    padding-left: 60px;
    padding-right: 60px;
    width: auto;
  }
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog__link {
  position: relative;
  width: 150px;
  margin: 0 auto;
  padding-left: 33px;
  padding-right: 0;
  line-height: 30px;

  &:hover {
    .catalog__link-icon {
      fill: rgba($special-blue_dark, 0.6);
    }
  }

  &:active {
    .catalog__link-icon {
      fill: rgba($special-blue_dark, 0.3);
    }
  }
}

.catalog__link-icon {
  fill: $special-blue_dark;
}
