.choose-country--collapsed {
  .choose-country__countries {
    display: none;
  }
}

.choose-country--expanded {
  z-index: 5;

  .choose-country__countries {
    display: block;

    @media (min-width: $tablet-width) {
      display: flex;
      box-shadow: 0 8px 16px rgba(54, 80, 148, 0.18);
    }
  }
}

.choose-country__countries {
  position: absolute;
  top: 42px;
  left: 5px;
  width: 220px;
  z-index: 5;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    top: 78px;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
    padding-left: 27px;
    padding-bottom: 33px;
    width: 575px;
  }

  @media (min-width: $desktop-width) {
    width: 730px;
  }
}
