.contacts {
  padding-top: 66px;
  padding-bottom: 41px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 129px;
  }
}

.contacts__item {
  position: relative;
  padding-left: 61px;
  padding-top: 12px;
  padding-bottom: 11px;
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-left: 90px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 28px;
    line-height: 28px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 121px;
    padding-top: 36px;
    padding-bottom: 31px;
  }
}

.contacts__item--header {
  @media (min-width: $desktop-width) {
    padding-top: 25px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 0;
  }
}

.contacts__link {
  display: inline-block;
  text-decoration: none;
  color: $light-blue;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    background-color: $icon-blue;
    border-radius: 50%;
    content: "";
  }

  @media (min-width: $tablet-width) {
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 68px;
      height: 68px;
      background-color: $icon-blue;
      border-radius: 50%;
      content: "";
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      top: 5px;
      width: 90px;
      height: 90px;
    }
  }
}

.contacts__link--header {
  @media (min-width: $desktop-width) {
    color: $basic-blue;

    &::before {
      width: 50px;
      height: 50px;
      top: 0;
    }

    &:active {
      color: rgba($basic-blue, 0.5);
    }
  }
}

.contacts__link--phone {
  @media (min-width: $desktop-width) {
    &::before {
      background-color: $special-orange;
    }

    &:hover {
      &::before {
        background-color: $btn-phone_hover_orange;
      }
    }
  }
}

.contacts__link--mail {
  @media (min-width: $desktop-width) {
    &::before {
      background-color: $special_yellow_dark;
    }

    &:hover {
      &::before {
        background-color: $special-orange;
      }
    }
  }
}

.contacts__text {
  @media (min-width: $desktop-width) {
    display: none;
  }
}
