.contacts {
  padding-top: 66px;
  padding-bottom: 41px;
  padding-left: 25px;
}

.contacts__item {
  position: relative;
  padding-left: 61px;
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-left: 90px;
    font-size: 28px;
    line-height: 28px;
  }
}

.contacts__link {
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 12px;
  text-decoration: none;
  color: $light-blue;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    background-color: $icon-blue;
    border-radius: 50%;
    content: "";
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 25px;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 68px;
      height: 68px;
      background-color: $icon-blue;
      border-radius: 50%;
      content: "";
    }
  }
}

.our-contacts .contacts__link {
  color: $basic-yellow;
}
