.contacts {
  padding-top: 66px;
  padding-bottom: 41px;
  padding-left: 25px;
}

.contacts__item {
  position: relative;
  padding-left: 61px;
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.contacts__link {
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 12px;
  text-decoration: none;
  color: $light_blue;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    background-color: $nav-link_icon-blue;
    border-radius: 50%;
    content: "";
  }
}

.our-contacts .contacts__link {
  color: $basic_yellow;
}
