.container {
  width: 320px;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;

  @media (min-width: $mobile-width) {
    width: 768px;
    padding-left: 75px;
    padding-right: 75px;
  }
}
