.country__selected,
.country__select,
.country__add {
  padding-top: 13px;
  padding-left: 10px;
  padding-bottom: 10px;
  width: 168px;
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: $main-color;

  @media (min-width: $mobile-width) {
    padding-top: 27px;
    padding-left: 26px;
    padding-bottom: 23px;
    width: 369px;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1em;
  }
}

.country__select,
.country__add {
  width: 100%;

  @media (min-width: $mobile-width) {
    width: 369px;
  }
}

.country__add {
  background-color: $main-bg_color;
}
