.countries-to-choose {
  list-style-type: none;
}

.countries-to-choose__item {
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $special-grey;
}
