.countries-to-choose {
  list-style-type: none;
}

.countries-to-choose--form {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-left: 19px;
  padding-right: 19px;
  padding-bottom: 20px;
  background-color: $basic-white;
  border: 1px solid $input-grey;
  border-top: none;
  border-radius: 0 0 4px 4px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-left: 26px;
    padding-right: 23px;
    border-right: none;
    border-bottom: none;
  }
}

.countries-to-choose__item {
  padding-bottom: 4px;

  &:last-child {
    padding-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.countries-to-choose__item--form {
  @media (min-width: $tablet-width) {
    padding-bottom: 9px;
    font-size: 20px;
    line-height: 20px;
  }
}

.countries-to-choose__link {
  margin-right: auto;
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-decoration: none;
  line-height: 22px;
  color: $special-grey;

  &:hover {
    color: $special-blue_dark;
  }

  &:active {
    color: rgba($special-blue_dark, 0.3);
  }
}
