.country {
  padding-bottom: 22px;
}

.country__selected,
.country__select,
.country__add {
  padding-top: 13px;
  padding-left: 10px;
  padding-bottom: 10px;
  width: 168px;
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: $main_color;
  border-radius: 4px;
}

.country__select,
.country__add {
  width: 100%;
}

.country__add {
  background-color: $main_bg-color;
}
