.countries-filter {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr min-content;
  padding-top: 33px;
  padding-bottom: 17px;
  background-color: $dark-grey;
  border-radius: 0 0 25px 25px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content min-content 100px;
    row-gap: 60px;
    padding-top: 60px;
    padding-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: min-content 1fr 1fr 1fr min-content;
    grid-template-rows: min-content min-content 100px;
    row-gap: 60px;
    padding-top: 76px;
    padding-bottom: 75px;
    padding-left: 80px;
    padding-right: 120px;
  }
}

.countries-filter__title {
  position: relative;
  grid-column: 1/3;
  margin: 0;
  padding-left: 27px;
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $light-blue;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    grid-column: 1;
    grid-row: 1;
    margin: 0;
    white-space: nowrap;
    padding-left: 55px;
    font-size: 20px;
    line-height: 20px;
  }
}

.countries-filter__toggle-text {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
    margin-right: 20px;
    font-family: $main-font;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
  }
}

.countries-filter__toggle {
  grid-column: 3;
  padding: 0;
  width: 17px;
  height: 3px;
  color: $light-blue;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;

  &:hover {
    color: rgba($light-blue, 0.6);
  }

  &:active {
    color: rgba($light-blue, 0.3);
  }

  @media (min-width: $tablet-width) {
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    width: min-content;
    white-space: nowrap;
    height: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 5;
  }
}

.countries-filter--closed {
  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content;
    padding-bottom: 56px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    padding-bottom: 57px;
  }

  .countries-filter__toggle-text {
    &--close {
      display: none;
    }
  }

  .icon--contries-cross-toggle {
    display: none;
  }

  .countries-filter__title {
    margin-bottom: 0;

    @media (min-width: $desktop-width) {
      margin-right: 30px;
      order: -2;
      white-space: nowrap;
    }
  }

  .countries-filter__continents {
    display: none;

    @media (min-width: $tablet-width) {
      display: flex;
      grid-column: 1/3;
    }

    @media (min-width: $desktop-width) {
      order: -1;
    }
  }

  .countries-filter__alphabet {
    display: none;
  }

  .countries-filter__countries {
    display: none;
  }

  .countries-filter__button {
    display: none;
  }
}

.countries-filter--nojs {
  .countries-filter__toggle {
    display: none;
  }
}

.countries-filter--opened {
  .countries-filter__toggle {
    display: block;
  }
}

.countries-filter--nojs,
.countries-filter--opened {
  .countries-filter__title {
    margin-bottom: 35px;

    @media (min-width: $desktop-width) {
      margin-right: 30px;
    }
  }

  .countries-filter__toggle-text {
    &--open {
      display: none;
    }
  }

  .icon--contries-dots-toggle {
    display: none;
  }

  .countries-filter__continents {
    grid-column: 1/3;
    grid-row: 2;

    @media (min-width: $tablet-width) {
      display: flex;
      grid-column: 1/3;
      grid-row: 1;
    }

    @media (min-width: $desktop-width) {
      grid-column: 2;
    }
  }

  .countries-filter__toggle {
    @media (min-width: $tablet-width) {
      display: flex;
    }
  }

  .countries-filter__alphabet {
    display: table;
    margin-left: 25px;
    margin-bottom: 14px;
    grid-column: 1/3;
    grid-row: 3;

    @media (min-width: $tablet-width) {
      grid-row: 2;
    }

    @media (min-width: $desktop-width) {
      grid-column: 1/6;
    }
  }

  .countries-filter__countries {
    display: flex;
    flex-direction: column;
    grid-column: 1/3;
    grid-row: 4;
    margin: 0;
    padding-left: 25px;
    padding-top: 0;
    margin-bottom: 28px;

    @media (min-width: $tablet-width) {
      grid-column: 3;
      grid-row: 2;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  .countries-filter__button {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    grid-column: 1/4;
    grid-row: 5;
    margin-bottom: 11px;
    background-color: $contries-filter-button;
    outline: none;
    color: $light-blue;

    &:hover {
      background-color: $contries-filter-button_hover;
    }

    &:active {
      color: rgba($light-blue, 0.3);
    }

    @media (min-width: $tablet-width) {
      grid-row: 3;
      margin-bottom: 0;
      font-size: 20px;
      letter-spacing: 0;
    }

    @media (min-width: $tablet-width) {
      grid-column: 1/6;
      width: 100%;
    }
  }
}

.countries-filter__button-text {
  margin-left: 11px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    letter-spacing: 0;
  }
}
