.current-level {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100px;
  height: 100px;
  font-family: $main-font;
  font-style: normal;
  color: $special-grey;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 94px;
    height: 94px;
  }

  @media (min-width: $desktop-width) {
    width: 95px;
    height: 95px;
  }
}

.current-level__text {
  padding-bottom: 9px;
  font-weight: bold;
  font-size: 38px;
  line-height: 38px;
  color: $additional-text_color;

  @media (min-width: $desktop-width) {
    color: $basic-white;
  }
}

.current-level__title {
  position: relative;
  padding-bottom: 3px;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: $special-grey;

  &::before {
    position: absolute;
    top: -7px;
    left: -8px;
    width: 51px;
    border-top: 1px solid rgba($special-grey, 0.3);
    content: "";
  }

  @media (min-width: $desktop-width) {
    color: $basic-white;

    &::before {
      border-top: 2px solid rgba($basic-white, 0.3);
    }
  }
}
