.dates {
  padding-top: 23px;
}

.dates__month {
  padding-bottom: 22px;
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  line-height: 20px;
  color: $main-color;
}
