.direction {
  text-decoration: none;
}

.direction__image {
  border-radius: 10px 10px 0 0;
}

.direction__description {
  width: 270px;
  height: 89px;
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  background-color: $basic_white;
  border-radius: 10px;
}

.direction__country {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: $basic_black;
}

.direction__popularity {
  line-height: 20px;
  color: $additional_text-color--30;
}

.direction__slogan {
  line-height: 18px;
  color: rgba($special_grey, 0.3);
}

.directions__link {
  margin: 0 auto;
}
