.dropdown {
  &--rectangle {
    width: 220px;
  }

  &--rounded {
    border-radius: 4px;
  }

  &--border_grey {
    border: 1px solid $input-grey;
  }

  @media (min-width: $tablet-width) {
    &--rectangle {
      width: 369px;
    }
  }
}
