.dropdown {
  outline: none;
  appearance: none;

  &--rectangle {
    width: 220px;
  }

  &--rectangle_s {
    width: 168px;
  }

  &--rounded {
    border-radius: 4px;
  }

  &--border_grey {
    border: 1px solid $input-grey;

    &:hover {
      border-color: $input-border_hover_grey;
    }

    &:focus {
      color: $basic-white;
      background-color: $special-blue_dark;
      z-index: 1;
    }
  }

  @media (min-width: $tablet-width) {
    &--rectangle,
    &--rectangle_s {
      width: 369px;
    }
  }

  @media (min-width: $desktop-width) {
    &--rectangle,
    &--rectangle_s {
      width: 730px;
    }
  }
}

.dropdown__default-option {
  display: none;
}
