.entertainment {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 24px;

  &:last-of-type {
    padding-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    padding-left: 2px;
    padding-right: 30px;
    padding-bottom: 44px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 18px;
    padding-bottom: 47px;
    padding-right: 115px;

    &:last-of-type {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

.entertainment__country {
  display: inline-block;
  padding-left: 12px;
  padding-bottom: 18px;
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: $main-color;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-bottom: 38px;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 65%;
  }
}

.entertainment__description {
  position: relative;
}

.entertainment__textarea {
  display: block;
  padding: 0;
  padding-top: 10px;
  padding-left: 14px;
  padding-right: 14px;
  padding-bottom: 10px;
  width: 220px;
  height: 220px;
  font-family: $main-font;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: $special-grey;
  border-color: $input-grey;
  border-radius: 4px;
  outline: none;
  resize: none;

  &:hover {
    border-color: $input-border_hover_grey;
  }

  &:focus {
    border-color: $basic-blue;
  }

  &::placeholder {
    color: rgba($special-grey, 0.3);

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 20px;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 19px;
    padding-left: 18px;
    padding-right: 30px;
    padding-bottom: 19px;
    width: 500px;
    height: 140px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 730px;
  }
}

.entertainment__invalid-text {
  position: absolute;
  bottom: 1px;
  left: 2px;
  display: none;
  padding-left: 21px;
  padding-right: 21px;
  padding-top: 20px;
  width: calc(100% - 3px);
  padding-bottom: 16px;
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $invalid-text_red;
  background-color: $invalid-background_red;
  border-radius: 4px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.entertainment__description--invalid {
  .entertainment__textarea {
    padding-bottom: 57px;
    border: 1px solid $special-red;
  }

  .entertainment__invalid-text {
    display: block;
  }
}
