.feedback {
  padding-top: 72px;
  padding-bottom: 29px;
  background-color: $additional-bg_color;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 20px 0 $basic-yellow;

  @media (min-width: $tablet-width) {
    padding-top: 76px;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 109px;
    padding-bottom: 102px;
    padding-left: 132px;
    padding-right: 134px;
  }
}

.feedback__header {
  margin: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-bottom: 59px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 57px;
  }
}

.feedback__text {
  margin: 0;
  padding-bottom: 29px;
  font-family: $main-font;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    padding-bottom: 65px;
    font-size: 28px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 60px;
  }
}

.feedback__link {
  color: $basic-yellow;

  &:hover {
    color: $special-orange;
  }

  &:active {
    color: rgba($special-orange, 0.3);
  }
}
