.filters__container {
  @media (min-width: $tablet-width) {
    margin-bottom: 13px;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
    width: auto;
  }
}

.filters__form {
  padding-top: 24px;
  padding-bottom: 22px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: $basic-yellow;
  border-radius: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 35px;
    padding-left: 30px;
    padding-right: 36px;
    padding-bottom: 37px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 46px;
    padding-left: 47px;
    padding-right: 40px;
    padding-bottom: 48px;
  }
}

.filters__title {
  margin: 0;
  padding-bottom: 23px;
  padding-left: 5px;
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: $main-color;

  @media (min-width: $tablet-width) {
    position: relative;
    padding-bottom: 38px;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 34px;
    padding-left: 0;
    width: 194px;
  }
}

.filters__wrapper {
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    position: relative;
    padding-top: 37px;
    padding-bottom: 37px;
    margin-bottom: 36px;
    padding-left: 5px;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 617px;
      height: 0;
      border-top: 1px solid $dilimeter-yellow;
      content: "";
    }

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 617px;
      height: 0;
      border-bottom: 1px solid $dilimeter-yellow;
      content: "";
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-bottom: 11px;

    &::before,
    &::after {
      display: none;
    }
  }
}

.filters__group {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 12px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 9px;
  border: none;

  &--transport {
    z-index: 1;
  }

  &--level {
    padding-top: 10px;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 5px;
    width: 220px;
    border-top: 1px solid $dilimeter-yellow;
    content: "";
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 104px 1fr;
    align-items: center;
    column-gap: 18px;
    padding: 0;
    padding-bottom: 25px;

    &:nth-last-child(2) {
      padding-bottom: 14px;
    }

    &:last-child {
      padding-bottom: 0;
    }

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    display: block;
    padding-bottom: 0;

    &:nth-last-child(2) {
      padding-bottom: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.filters__category-toggle {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 1px;
  width: 100%;

  &--opened {
    .filters__category-icon {
      transform: rotate(-90deg);
    }
  }

  &--closed {
    .filters__category-icon {
      transform: rotate(90deg);
    }
  }

  &:hover {
    color: rgba($main-color, 0.6);

    .filters__category {
      color: rgba($main-color, 0.6);
    }
  }

  &:active {
    color: rgba($main-color, 0.3);
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    &:hover {
      .filters__category {
        color: $main-color;
      }
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 22px;
  }
}

.filters__category {
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $main-color;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
  }
}

.filters__list {
  margin: 0;
  padding: 0;
  padding-top: 14px;
  padding-bottom: 8px;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 155px 158px 154px;
    row-gap: 10px;
    column-gap: 14px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.filters__controls {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.filters__options--collapsed {
  @media (max-width: $mobile-width), (min-width: $desktop-width) {
    display: none;
  }
}

.filters__options--expanded {
  @media (max-width: $mobile-width), (min-width: $desktop-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 31px;
  }
}

.filters__item {
  padding-bottom: 10px;

  &:last-child {
    padding-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    padding-top: 3px;
    padding-left: 3px;
    white-space: nowrap;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 16px;
    padding-left: 0;
  }
}

.filters__label {
  position: relative;
  padding-left: 28px;
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: $basic-black;

  &:hover {
    color: rgba($basic-black, 0.6);
  }

  &:active {
    color: rgba($basic-black, 0.3);

    &::after {
      opacity: 0.3;
    }
  }

  @media (min-width: $tablet-width) {
    padding-left: 39px;
    font-size: 20px;
  }
}

.filters__button {
  padding-top: 13px;
  padding-bottom: 11px;
  outline: none;

  &:hover {
    filter: drop-shadow(0 3px 6px rgba($basic-black, 0.14));
  }

  &:active {
    color: rgba($special-blue_dark, 0.3);
    background-color: $dilimeter-yellow;
  }

  @media (min-width: $tablet-width) {
    margin-left: 5px;
    padding-top: 16px;
    padding-bottom: 14px;
  }

  @media (min-width: $desktop-width) {
    width: 194px;
  }
}

.filters__checkbox + .filters__label {
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    background-color: $basic-white;
    border-radius: 4px;
    content: "";
  }

  @media (min-width: $tablet-width) {
    &::before {
      width: 24px;
      height: 24px;
    }
  }
}

.filters__checkbox:checked + .filters__label {
  &::after {
    position: absolute;
    top: 4px;
    left: 5px;
    width: 8px;
    height: 8px;
    background-image: url("../../img/tick.svg");
    content: "";
  }

  @media (min-width: $tablet-width) {
    &::after {
      top: 7px;
      left: 7px;
      width: 11px;
      height: 11px;
    }
  }
}
