.filters {
  padding-top: 21px;
  background-color: $main-bg_color;

  @media (min-width: $tablet-width) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.filters__form {
  padding-top: 26px;
  padding-bottom: 22px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: $basic-yellow;
  border-radius: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 37px;
    padding-left: 34px;
    padding-right: 36px;
    padding-bottom: 37px;
  }
}

.filters__title {
  margin: 0;
  padding-bottom: 23px;
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: $main-color;

  @media (min-width: $tablet-width) {
    position: relative;
    padding-bottom: 38px;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0;
  }
}

.filters__wrapper {
  @media (min-width: $tablet-width) {
    position: relative;
    padding-top: 34px;
    padding-bottom: 37px;
    margin-bottom: 36px;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 617px;
      height: 0;
      border-top: 1px solid $dilimeter-yellow;
      content: "";
    }

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 617px;
      height: 0;
      border-bottom: 1px solid $dilimeter-yellow;
      content: "";
    }
  }
}

.filters__group {
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 14px;
  border: none;

  &::before {
    position: absolute;
    top: 0;
    left: 5px;
    width: 220px;
    border-top: 1px solid $dilimeter-yellow;
    content: "";
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 104px 1fr;
    column-gap: 18px;
    padding: 0;
    padding-bottom: 26px;

    &:last-child {
      padding-bottom: 0;
    }

    &::before {
      display: none;
    }
  }
}

.filters__category {
  margin: 0;
  padding-top: 12px;
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $main-color;

  @media (min-width: $tablet-width) {
    padding: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
  }
}

.filters__list {
  margin: 0;
  padding: 0;
  padding-top: 17px;
  list-style-type: none;

  &--hobbies {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
  }
}

.filters__label {
  padding-left: 27px;
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: $basic-black;
  text-transform: capitalize;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}
