.header-buttons {
  &--hide {
    display: none;
  }

  @media (min-width: $tablet-width) {
    &--hide {
      display: flex;
    }
  }
}

.header-buttons__button {
  @media (min-width: $tablet-width) {
    &--phone,
    &--mail {
      display: none;
    }

    &--auth {
      position: absolute;
      top: 40px;
      right: 40px;
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;

    &--auth {
      position: static;
    }
  }
}

.header-buttons__item {
  @media (min-width: $tablet-width) {
    margin-left: auto;
  }
}
