.header-buttons {
  &--hide {
    display: none;
  }

  @media (min-width: $tablet-width) {
    &--hide {
      display: flex;
    }
  }
}

.header-buttons__button {
  @media (min-width: $tablet-width) {
    &--phone,
    &--mail {
      display: none;
    }

    &--auth {
      grid-row: 1;
    }
  }
}

.header-buttons__item {
  @media (min-width: $tablet-width) {
    margin-left: auto;
  }
}
