.header-title {
  padding-top: 62px;
  padding-left: 25px;
  padding-bottom: 11px;
  padding-right: 25px;

  @media (min-width: $tablet-width) {
    padding-top: 152px;
    padding-bottom: 66px;
    padding-left: 75px;
    padding-right: 75px;

    &--extended {
      display: flex;
      align-items: center;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 126px;
    padding-right: 123px;
  }
}
