.header-buttons {
  &--hide {
    display: none;
  }

  @media (min-width: $tablet-width) {
    &--hide {
      display: flex;
    }
  }
}

.header-buttons__button {
  color: $basic-blue;

  &--phone:hover {
    background-color: $btn-phone_hover_orange;
  }

  &--phone:active {
    color: rgba($basic-blue, 0.6);
  }

  &--mail:hover {
    background-color: $btn-mail_hover_orange;
  }

  &--mail:active {
    color: rgba($basic-blue, 0.6);
  }

  &--auth {
    font-size: 20px;

    &:hover {
      background-color: $btn-auth_hover_yellow;
    }
  }

  &--auth:active {
    color: rgba($basic_blue, 0.3);
  }

  @media (min-width: $tablet-width) {
    &--phone,
    &--mail {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.header-buttons__item {
  @media (min-width: $tablet-width) {
    margin-left: auto;
  }
}
