.icon {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 16px;
  height: 15px;
  content: "";
  fill: $basic-yellow;

  &--mail {
    left: 14px;
    width: 18px;
    height: 13px;
  }

  &--address-marker {
    width: 16px;
    height: 21px;
    top: 12px;
  }

  @media (min-width: $tablet-width) {
    &--phone {
      top: 21px;
      left: 21px;
      width: 24px;
      height: 22px;
    }

    &--mail {
      top: 22px;
      left: 19px;
      width: 28px;
      height: 19px;
    }

    &--address-marker {
      top: 18px;
      left: 21px;
      width: 24px;
      height: 32px;
    }
  }
}
