.icon {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 16px;
  height: 15px;
  content: "";
  fill: $basic-yellow;

  &--mail {
    left: 14px;
    width: 18px;
    height: 13px;
  }

  &--address-marker {
    width: 16px;
    height: 21px;
    top: 12px;
  }

  &--handset {
    top: 17px;
    left: 17px;
    width: 16px;
    fill: $basic-blue;
  }

  &--mail-s {
    top: 19px;
    left: 17px;
    width: 14px;
    height: 11px;
    fill: $basic-blue;
  }

  @media (min-width: $tablet-width) {
    &--phone {
      top: 21px;
      left: 21px;
      width: 24px;
      height: 22px;
    }

    &--mail {
      top: 22px;
      left: 19px;
      width: 28px;
      height: 19px;
    }

    &--address-marker {
      top: 18px;
      left: 21px;
      width: 24px;
      height: 32px;
    }
  }

  @media (min-width: $desktop-width) {
    &--phone {
      top: 30px;
      left: 29px;
      width: 31px;
      height: 30px;
    }

    &--mail {
      top: 32px;
      left: 26px;
      width: 37px;
      height: 25px;
    }

    &--address-marker {
      top: 24px;
      left: 29px;
      width: 32px;
      height: 42px;
    }
  }
}

.icon__header {
  &--handset,
  &--mail-s  {
    display: none;
  }

  @media (min-width: $desktop-width) {
    &--phone,
    &--mail  {
      display: none;
    }

    &--handset,
    &--mail-s {
      display: block;
    }
  }
}
