.input {
  background: $basic-white;
  padding-left: 25px;
  padding-right: 25px;
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  outline: none;

  &::placeholder {
    color: rgba($special-grey, 0.3);
  }

  &:hover {
    &::placeholder {
      color: rgba($special-grey, 0.5);
    }
  }

  &--border_black {
    border: 1px solid $basic-black;
  }

  &--border_grey {
    border: 1px solid $input-grey;
  }

  &--shadow {
    box-shadow: 0 4px 4px rgba($basic-black, 0.25);
  }

  &--rectangle {
    width: 220px;
  }

  &--rounded {
    border-radius: 10px;
  }

  &--rounded_left {
    border-radius: 10px 0 0 10px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 28px;
    padding-left: 36px;
    font-size: 24px;
    line-height: 24px;

    &--rectangle {
      width: 532px;
    }

    &--rounded {
      border-radius: 4px;
    }
  }

  @media (min-width: $desktop-width) {
    &--rectangle {
      width: 850px;
    }
  }
}
