.level-controls {
  position: relative;
  display: flex;
  margin-top: 16px;
  margin-bottom: 21px;

  &::before {
    position: absolute;
    top: 11px;
    left: 107px;
    width: 5px;
    height: 13px;
    background-color: $basic-white;
    content: "";
  }

  &::after {
    position: absolute;
    top: 17px;
    left: 100px;
    width: 20px;
    border: 1px solid #CBCED9;
    content: "";
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-left: auto;

    &::before {
      height: 15px;
      top: 15px;
      left: 72px;
    }

    &::after {
      top: 22px;
      left: 66px;
      width: 16px;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-bottom: 31px;

    &::before {
      top: 16px;
      left: 92px;
    }

    &::after {
      top: 23px;
      left: 86px;
      width: 20px;
    }
  }
}

.level-controls__input {
  padding: 0;
  padding-top: 9px;
  padding-bottom: 8px;
  width: 110px;
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 13px;
  letter-spacing: 0.06em;
  text-align: center;
  color: $special-blue_dark;
  border: 1px solid $input-grey;
  outline: none;

  &:hover {
    border-color: $input-border_hover_grey;
  }

  &:focus {
    border-color: $basic-blue;
  }

  &--min {
    border-radius: 4px 0 0 4px;
  }

  &--max {
    border-radius: 0 4px 4px 0;
  }

  @media (min-width: $tablet-width) {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 74px;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.04em;
  }

  @media (min-width: $desktop-width) {
    width: 96px;
  }
}
