.level {
  display: flex;
  padding-bottom: 13px;
  font-family: $font-family;
  font-style: normal;
  color: $special_grey;
}

.level__text {
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
}
