.nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 27px;
  padding-bottom: 41px;

  @media (min-width: $tablet-width) {
    padding-top: 41px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 91px;
  }

  &--closed {
    .nav__toggle {
      &::before,
      &::after {
        position: absolute;
        top: 0;
        right: 0;
        width: 25px;
        height: 3px;
        background-color: $basic-white;
        border-radius: 1.5px;
        content: "";
      }

      &::after {
        top: 5px;
      }
    }

    .nav__list,
    .nav__button {
      display: none;
    }
  }

  &--opened {
    background-color: $basic-white;

    .nav__toggle {
      &::before,
      &::after {
        position: absolute;
        top: 5px;
        right: 0;
        width: 24px;
        height: 2px;
        background-color: $nav-button_close;
        border-radius: 1.5px;
        content: "";
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }
  }

  &--nojs {
    .nav__toggle {
      display: none;
    }

    .nav__button {
      display: block;
    }

    .nav__list {
      display: flex;
      flex-wrap: wrap;
    }
  }

  @media (min-width: $tablet-width) {
    .nav__button {
      display: block;
    }
  }
}

.nav__list {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    margin-right: auto;
    margin-left: 97px;
  }
}

.nav__logo {
  @media (min-width: $tablet-width) {
    order: -3;
  }
}

.nav__toggle {
  position: relative;
  width: 25px;
  height: 15px;
  display: block;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;

  @media (min-width: $tablet-width) {
    order: -2;
  }
}

.nav__button {
  @media (min-width: $tablet-width) {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 188px;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0;
    order: -1;
  }
}
