.nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 19px;

  &--index {
    padding-top: 27px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 41px;
    padding-left: 40px;
    padding-right: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: flex-start;
    padding-top: 46px;
    padding-left: 60px;
    padding-right: 360px;

    &::before {
      margin-right: 45px;
      width: 63px;
      height: 2px;
      background-color: $basic-white;
      content: "";
    }
  }
}

.nav--closed {
  .nav__toggle {
    &::before,
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      width: 25px;
      height: 3px;
      background-color: $basic-white;
      border-radius: 1.5px;
      content: "";
    }

    &::after {
      top: 5px;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  .nav__list {
    display: none;

    @media (min-width: $desktop-width) {
      &:first-of-type {
        display: flex;
        width: 600px;
      }
    }
  }

  .nav__button {
    display: none;
  }

  @media (min-width: $tablet-width) {
    width: 397px;
    margin-right: 0;
  }
}

.nav--opened {
  padding-bottom: 41px;
  background-color: $basic-white;

  .nav__toggle {
    &::before,
    &::after {
      position: absolute;
      top: 5px;
      right: 0;
      width: 24px;
      height: 2px;
      background-color: $nav-button_close;
      border-radius: 1.5px;
      content: "";
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  .nav__button {
    display: block;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 91px;

    .nav__button {
      display: none;
    }
  }
}

.nav--nojs {
  padding-bottom: 41px;
  background-color: $basic-white;

  .nav__toggle {
    display: none;
  }

  .nav__button {
    display: block;
  }

  .nav__list {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $tablet-width) {
    grid-row: 1;
    padding-bottom: 91px;

    .nav__button {
      display: none;
    }
  }
}

.nav__logo {
  @media (min-width: $tablet-width) {
    order: -3;
  }

  @media (min-width: $desktop-width) {
    margin-right: 40px;
  }
}

.nav__logo-img {
  @media (min-width: $tablet-width) {
    width: 164px;
    height: 42px;
  }

  @media (min-width: $desktop-width) {
    width: 200px;
    height: 52px;
  }
}

.nav__list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    margin-right: auto;
    margin-left: 97px;
  }
}

.nav__toggle {
  position: absolute;
  top: 23px;
  right: 25px;
  width: 25px;
  height: 15px;
  display: block;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;

  &--index {
    top: 32px;
  }

  @media (min-width: $tablet-width) {
    top: 61px;
    left: 372px;
  }
}

.nav__button {
  @media (min-width: $tablet-width) {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 188px;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0;
    order: -1;
  }
}
