.number__header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;

  @media (min-width: $tablet-width) {
    padding-bottom: 24px;
  }
}

.number__title {
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: $main-color;

  &--unit {
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: rgba($main-color, 0.3);
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 0.1em;

    &--unit {
      letter-spacing: 0.08em;
    }
  }
}

.number__control {
  height: 43px;
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 14.86px;
  line-height: 14px;
  color: $special-blue_dark;
  text-align: center;

  @media (min-width: $tablet-width) {
    height: 70px;
    font-size: 20px;
    line-height: 18px;
  }
}
