.number {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
    align-items: center;
    padding: 0;
  }
}

.number__title {
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: $main-color;

  &--unit {
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: rgba($main-color, 0.3);
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 0.1em;

    &--unit {
      letter-spacing: 0.08em;
    }
  }

  @media (min-width: $desktop-width) {
    order: -2;
    letter-spacing: 0;

    &--unit {
      order: 1;
    }
  }
}

.number__group {
  position: relative;
  margin-left: auto;
}

.number__control {
  margin-top: 8px;
  height: 43px;
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 14.86px;
  line-height: 14px;
  color: $special-blue_dark;
  text-align: center;

  &:hover {
    border-color: $input-border_hover_grey;

    ~ .number__button {
      &::before,
      &::after {
        background-color: $input-border_hover_grey;
      }
    }
  }

  &:focus {
    border-color: $basic_blue;

    ~ .number__button {
      &::before,
      &::after {
        background-color: $basic_blue;
      }
    }
  }

  @media (min-width: $tablet-width) {
    margin-top: 24px;
    padding-top: 0;
    height: 70px;
    font-size: 20px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-right: 35px;
    width: 180px;
  }
}

.number__button {
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  outline: none;

  &:hover {
    &::before,
    &::after {
      background-color: $number-control_hover;
    }
  }

  &:active {
    outline: none;

    &::before,
    &::after {
      background-color: $number-control_down;
    }
  }
}

.number__remove {
  &::before {
    position: absolute;
    top: 31px;
    right: 191px;
    width: 14px;
    height: 2px;
    background-color: $nav-button_close;
    content: "";
  }

  @media (min-width: $tablet-width) {
    &::before {
      top: 60px;
      right: 489px;
      width: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      top: 36px;
      right: 175px;
      width: 20px;
    }
  }
}

.number__add {
  &::before {
    position: absolute;
    top: 31px;
    right: 14px;
    width: 14px;
    height: 2px;
    background-color: $nav-button_close;
    content: "";
  }

  &::after {
    position: absolute;
    top: 25px;
    right: 20px;
    width: 2px;
    height: 14px;
    background-color: $nav-button_close;
    content: "";
  }

  @media (min-width: $tablet-width) {
    &::before {
      top: 60px;
      right: 23px;
      width: 20px;
    }

    &::after {
      top: 51px;
      right: 31px;
      height: 20px;
    }
  }


  @media (min-width: $desktop-width) {
    &::before {
      top: 36px;
      right: 56px;
      width: 20px;
    }

    &::after {
      top: 27px;
      right: 64px;
      height: 20px;
    }
  }
}
