.our-contacts__contacts {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 868px;
  }
}

.our-contacts__text {
  margin: 0;
  padding-bottom: 17px;
  font-family: $main-font;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.01em;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    padding-bottom: 40px;
    font-size: 28px;
    line-height: 30px;
    letter-spacing: 0.01em;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 42px;
  }
}

.our-contacts__link {
  color: $basic-yellow;

  &:hover {
    color: $special-yellow_dark;
  }

  &:active {
    color: rgba($special-yellow_dark, 0.3);
  }
}
