.page-header {
  padding-top: 28px;
  padding-left: 26px;
  padding-right: 24px;
  padding-bottom: 11px;
  background-color: $header-bg_color;
  border-radius: 0 0 25px 25px;
  box-shadow: 0 20px 0 $main-bg_color;

  &--index {
    padding-bottom: 0;
    background:  url("../../img/traveller-illustration-mobile@1x.png") bottom 20px center no-repeat,
      url("../../img/globe-back-mobile@1x.jpg") bottom 20px center no-repeat;
    background-repeat: no-repeat;
    border-radius: 0;
    box-shadow: none;
  }

  @media (min-width: $mobile-width) {
    background:  url("../../img/traveller-illustration-tablet@1x.png") bottom 20px center no-repeat,
    url("../../img/globe-back-tablet@1x.jpg") bottom 20px center no-repeat;
  }
}


.page-header__slogan {
  margin: 0;
  padding: 0;
  padding-top: 52px;
  padding-bottom: 265px;
  padding-left: 16px;
  padding-right: 16px;
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: $basic-white;

  @media (min-width: $mobile-width) {
    font-size: 60px;
    line-height: 70px;
  }
}

.page-header__header-buttons {
  display: flex;
  width: 270px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $mobile-width) {
    display: none;
  }
}

.page-header__reviews {
  display: none;

  @media (min-width: $mobile-width) {
    display: block;
  }
}
