.page-footer {
  padding-top: 37px;
  padding-bottom: 18px;
  border-radius: 25px 25px 0 0;
  background-color: $basic-white;
}

.page-footer__logo {
  display: block;
  padding-bottom: 40px;
  text-align: center;
}

.page-footer__socials {
  position: relative;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 37px;
  list-style: none;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 270px;
}
