.page-footer {
  padding-top: 37px;
  padding-bottom: 18px;
  border-radius: 25px 25px 0 0;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    padding-top: 56px;
    padding-bottom: 42px;
    padding-left: 38px;
    padding-right: 40px;
    border-radius: 50px 50px 0 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 50px;
    padding-bottom: 47px;
    padding-left: 58px;
    padding-right: 60px;
  }
}

.page-footer--index {
  position: relative;
  padding-top: 0;
  box-shadow: 0 -50px 0 $basic-white;
}

.page-footer__logo {
  display: block;
  padding-bottom: 40px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}

.page-footer__logo-img {
  @media (min-width: $tablet-width) {
    width: 164px;
    height: 42px;
  }

  @media (min-width: $desktop-width) {
    width: 200px;
    height: 52px;
  }
}

.page-footer__socials {
  padding: 0;
  padding-bottom: 37px;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
