.page-footer {
  border-radius: 30px 30px 0 0;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    border-radius: 60px 60px 0 0;
  }

  @media (min-width: $desktop-width) {
    border-radius: 56px 56px 0 0;
  }
}

.page-footer__container {
  position: relative;
  padding-top: 39px;
  padding-bottom: 23px;

  &--index {
    padding-top: 32px;
  }

  &::before {
    position: absolute;
    bottom: 69px;
    left: 25px;
    width: 270px;
    border-top: 1px solid $footer-delimiter;
    content: "";
  }

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    padding-top: 46px;
    padding-bottom: 42px;
    padding-left: 38px;
    padding-right: 40px;
    border-radius: 50px 50px 0 0;

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 48px;
    padding-bottom: 47px;
    padding-left: 58px;
    padding-right: 60px;
  }
}

.page-footer--index {
  position: relative;
  padding-top: 0;
  box-shadow: 0 -30px 0 $basic-white;
}

.page-footer__logo {
  display: block;
  padding-bottom: 35px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    padding-top: 4px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 3px;
    padding-left: 2px;
  }
}

.page-footer__logo-img {
  @media (min-width: $tablet-width) {
    width: 164px;
    height: 42px;
  }

  @media (min-width: $desktop-width) {
    width: 200px;
    height: 52px;
  }
}

.page-footer__socials {
  padding: 0;
  padding-bottom: 50px;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    margin-right: 94px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: 411px;
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
