.page-header {
  min-width: 320px;
  background-color: $header-blue;
  border-radius: 0 0 25px 25px;
  box-shadow: 0 20px 0 $main-bg_color;

  @media (min-width: $tablet-width) {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    min-width: 768px;
  }

  @media (min-width: $desktop-width) {
    background-color: $light-blue;
  }
}

.page-header--index {
  padding-bottom: 39px;
  background-image: url("../../img/traveller-illustration-mobile@1x.png"),
    url("../../img/globe-back-mobile@1x.jpg");
  background-position: calc(50% + 16px) 223px, top center;
  background-repeat: no-repeat;
  background-color: $basic-blue;
  border-radius: 0;
  box-shadow: inset 0 -279px 0 $additional-bg_color,
    inset 0 -564px 0 $basic-blue;

  @media (min-width: $tablet-width) {
    row-gap: 0;
    padding-bottom: 96px;
    background-image: url("../../img/traveller-illustration-tablet@1x.png"),
      url("../../img/globe-back-tablet@1x.jpg");
    background-position: calc(50% + 111px) 404px, 50% 382px;
    background-repeat: no-repeat;
    background-color: $header-bg_color;
    border-radius: 0;
    box-shadow: none;
  }

  @media (min-width: $desktop-width) {
    row-gap: 110px;
    padding-bottom: 123px;
    background: url("../../img/traveller-illustration-desktop@1x.png") top 110px right 405px no-repeat,
      url("../../img/globe-back-desktop@1x.jpg") top center no-repeat;
    background-color: $header-bg_color;
    border-radius: 0;
  }
}

.page-header__slogan {
  padding: 0;
  padding-top: 52px;
  padding-left: 16px;
  padding-right: 16px;
  min-height: 411px;
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    padding-top: 72px;
    min-height: 300px;
    padding-bottom: 86px;
    font-size: 60px;
    line-height: 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-left: 67px;
    min-height: 0;
    text-align: left;
  }
}

.page-header__header-buttons {
  display: flex;
  width: 270px;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: none;
    // width: 228px;
    // order: -1;
    // margin-left: 143px;
    // align-self: flex-end;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.page-header__reviews {
  @media (min-width: $tablet-width) {
    display: block;
  }
}
