.plan {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 24px;
  padding-left: 23px;
  padding-right: 23px;
  padding-bottom: 23px;
  font-family: $main-font;
  font-style: normal;
  color: $main-color;
  background: $basic-white;
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-left: 36px;
    padding-bottom: 15px;
    padding-right: 31px;

    &::after {
      position: absolute;
      bottom: 55px;
      left: 0;
      width: 100%;
      border-bottom: 1px solid rgba($input-grey, 0.3);
      content: "";
    }
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
    padding-top: 37px;
    padding-left: 43px;
    padding-bottom: 37px;
    padding-right: 42px;

    &::after {
      display: none;
    }
  }
}

.plan__direction {
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-bottom: 53px;
    width: 100%;
    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: flex-start;
    width: 585px;
    padding-bottom: 0;
  }
}

.plan__info {
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $main-color;

  &--travelers {
    padding-bottom: 5px;
  }

  &--travelers:last-child {
    padding-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    width: 365px;
    padding: 0;

    &--travelers {
      padding: 0;
      font-size: 20px;
      line-height: 20px;
      letter-spacing: 0.1em;
    }
  }
}

.plan__link {
  width: 68px;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: rgba($basic-black, 0.3);

  @media (min-width: $tablet-width) {
    width: 107px;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1em;
  }

  @media (min-width: $desktop-width) {
    margin-left: auto;
  }
}
