.profile {
  padding-top: 20px;
  padding-bottom: 34px;
  background-color: $main-bg_color;
  box-shadow: 0 20px 0 $main-bg_color;
}

.profile__tags {
  margin: 0;
  padding: 0;
}

.profile__transport {
  margin: 0;
  padding: 0;
}
