.reviews {
  font-family: $main-font;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    padding-left: 40px;
    padding-right: 40px;
    min-height: 426px;
  }


  @media (min-width: $desktop-width) {
    grid-column: 2;
    grid-row: 2;
    padding-left: 0;
    padding-top: 13px;
    padding-right: 0;
    min-height: 0;
    margin-right: auto;
    margin-left: 340px;
  }
}

.reviews__text {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 27px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 18px;

  &:last-child {
    padding-top: 0;
    padding-bottom: 30px;
  }

  @media (min-width: $tablet-width) {
    padding-left: 34px;
    padding-right: 32px;
    padding-bottom: 43px;
    font-size: 28px;
    line-height: 33px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 25px;
    line-height: 32px;

    &:last-child {
      padding-bottom: 43px;
    }
  }

  &--cite {
    padding: 0;
    font-weight: bold;
    font-style: normal;

    @media (min-width: $tablet-width) {
      font-size: 21px;
      line-height: 25px;
    }

    @media (min-width: $desktop-width) {
      line-height: 24px;
    }
  }
}

.reviews__text--author {
  @media (min-width: $tablet-width) {
    line-height: 24px;
  }
}
