.site-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 76px;
  padding-bottom: 51px;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    padding-top: 94px;
    padding-bottom: 144px;
  }
}

.site-list__item {
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 71px;
    text-align: left;
  }
}

.site-list__link {
  text-decoration: none;
  color: $light-blue;
}
