.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 105px;
}

.socials__item {
  &--footer {
    display: flex;
    width: 45px;
    height: 44px;
    background-color: $basic-yellow;
    border-radius: 50%;
  }
}

.socials--footer {
  width: 135px;
}

// .socials__item--footer {
//   position: relative;
// }

.socials__icon {
  position: relative;

  &--fb {
    width: 11px;
    height: 21px;
  }

  &--vk {
    width: 23px;
    height: 12px;
  }

  &--inst {
    width: 18px;
    height: 18px;
  }
}

.socials__link {
  &--footer {
    margin: auto;
  }
  // &--footer::before {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 45px;
  //   height: 45px;
  //   background-color: $basic-yellow;
  //   border-radius: 50%;
  //   content: "";
  // }
}
