.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 105px;

  @media (min-width: $tablet-width) {
    width: 139px;
  }
}

.socials--footer {
  width: 135px;

  @media (min-width: $tablet-width) {
    width: 186px;
  }
}

.socials__icon {
  position: relative;

  @media (min-width: $tablet-width) {
    &--fb {
      width: 14px;
      height: 26px;
    }

    &--vk {
      width: 27px;
      height: 18px;
    }

    &--inst {
      width: 20px;
      height: 20px;
    }
  }
}

.socials__link {
  color: $light-blue;

  &:hover {
    color: rgba($light-blue, 0.6);
  }

  &:active {
    color: rgba($light-blue, 0.3);
  }

  &--footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 44px;
    background-color: $basic-yellow;
    border-radius: 50%;

    &:hover {
      color: $light-blue;
      background-color: $special-yellow_dark;
    }

    &:active {
      color: rgba($light-blue, 0.3);
    }

    @media (min-width: $tablet-width) {
      width: 62px;
      height: 62px;
    }
  }
}
