.step {
  padding-top: 24px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 17px;
  margin-bottom: 10px;
  background-color: $basic-white;
  border-radius: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $mobile-width) {
    display: flex;
    flex-direction: column;
    margin-bottom: 39px;
    padding-top: 48px;
    padding-left: 43px;
    padding-right: 43px;
    padding-bottom: 56px;
  }
}

.step__title {
  margin: 0;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 16px;
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  color: $main-color;

  @media (min-width: $mobile-width) {
    padding: 0;
    padding-bottom: 35px;
    font-size: 36px;
    line-height: 36px;
    order: -4;
  }
}

.step__description {
  margin: 0;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 20px;
  font-family: $main-font;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: $special-grey;

  @media (min-width: $mobile-width) {
    padding: 0;
    padding-right: 24px;
    padding-bottom: 38px;
    font-size: 20px;
    line-height: 24px;
    order: -3;

    &--two {
      position: relative;
      padding-bottom: 33px;

      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border-bottom: 1px solid $dilimeter-grey;
        content: "";
      }
    }

    &--three {
      position: relative;
      padding-bottom: 34px;

      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border-bottom: 1px solid $dilimeter-grey;
        content: "";
      }
    }
  }
}

.step__group {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 20px;

  @media (min-width: $mobile-width) {
    position: relative;
    padding: 0;
    padding-top: 25px;
    padding-bottom: 25px;

    &--travalers {
      order: -2;
    }

    &--duration {
      padding-bottom: 0;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 532px;
      border-top: 1px solid $dilimeter-grey;
      content: "";
    }
  }
}

.step__checkbox {
  padding-left: 5px;
  padding-right: 5px;

  @media (min-width: $mobile-width) {
    padding: 0;
    margin-bottom: 27px;
    order: -1;
  }
}

.step__dates {
  padding-bottom: 22px;
  padding-left: 5px;
  padding-right: 5px;

  @media (min-width: $mobile-width) {
    padding: 0;
    padding-bottom: 47px;
  }
}

.step__controls {
  @media (min-width: $mobile-width) {
    display: flex;
  }
}

.step__next-step {
  @media (min-width: $mobile-width) {
    padding-top: 29px;
    padding-left: 34px;
    padding-bottom: 27px;
    width: 284px;
    font-size: 24px;
    line-height: 24px;
    text-align: left;
    text-transform: unset;
    border-radius: 20px;
  }
}

.step__prev-step {
  padding: 0;
  padding-top: 13px;
  width: 120px;
  margin: 0 auto;
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $mobile-width) {
    padding-top: 29px;
    width: 180px;
    font-size: 24px;
    line-height: 24px;
    text-transform: unset;
  }
}

.step__wrapper {
  padding-bottom: 25px;

  @media (min-width: $mobile-width) {
    padding-top: 36px;
    padding-bottom: 50px;
  }
}

.step__country {
  padding-bottom: 22px;

  &:last-child {
    padding: 0;
  }

  @media (min-width: $mobile-width) {
    padding-bottom: 15px;

    &:first-child {
      padding-top: 6px;
    }

    &:last-child {
      padding: 0;
    }
  }
}
