.steps {
  padding-bottom: 39px;
  background-color: $additional_bg-color;
  box-shadow: inset 0 285px 0 $basic_blue,
    0 -20px 0 $basic_blue;
}

.steps__header {
  padding-bottom: 29px;
}

.steps__list {
  margin: 0;
  padding: 0;
}

.steps__item {
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  background-color: $special_orange;
}

.steps__number {
  color: $basic_white;
}

.steps__description {
  color: $additional_text-color;
}
