.steps {
  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 60px;
    padding-right: 60px;
  }
}

.steps__list {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.steps__item {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 21px;
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  background-color: $special-orange;
  border-radius: 10px;

  &--first {
    background-color: $special-orange;
    box-shadow: 0 20px 0 $special-orange;
  }

  &--second {
    background-color: $special-orange_light;
    box-shadow: 0 20px 0 $special-orange_light;
  }

  &--third {
    background-color: $special-yellow_dark;
    box-shadow: 0 20px 0 $special-yellow_dark;
  }

  &--fourth {
    background-color: $basic-yellow;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    row-gap: 10px;
    padding-top: 30px;
    padding-bottom: 22px;
    padding-left: 33px;
    padding-right: 21px;
    font-size: 24px;
    line-height: 24px;

    &--first {
      box-shadow: 0 20px 0 $special-orange,
        20px 0 0 $special-orange;
      border-radius: 20px 0 0 0;
    }

    &--second {
      border-radius: 20px 20px 0 0;
    }

    &--third {
      box-shadow: 20px 0 0 $special-yellow_dark;
      border-radius: 0 0 0 20px;
    }

    &--fourth {
      border-radius: 0 0 20px 20px;
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    padding-bottom: 29px;
    border-radius: 20px 0 0 20px;

    &--first {
      padding-right: 48px;
      padding-top: 27px;
      box-shadow: 20px 0 0 $special-orange;
    }

    &--second {
      padding-left: 15px;
      padding-top: 27px;
      padding-right: 32px;
      box-shadow: -15px 0 0 $special-orange_light, 15px 0 0 $special-orange_light;
    }

    &--third {
      padding-top: 27px;
      padding-right: 17px;
      box-shadow: 20px 0 0 $special-yellow_dark;
    }

    &--fourth {
      padding-left: 45px;
      padding-right: 32px;
      padding-top: 28px;
      border-radius: 20px;
      padding-bottom: 31px;
      box-shadow: inset 15px 0 0 $special-yellow_dark;
    }
  }
}

.steps__number {
  margin: 0;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    order: 1;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
    line-height: 24px;
  }
}

.steps__description {
  margin: 0;
  color: $additional-text_color;
}
