.tags {
  margin-bottom: 18px;
  font-family: $main-font;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  border: 1px solid $input-grey;
  border-radius: 10px;

  &:hover {
    border-color: $input-border_hover_grey;
  }

  &:focus-within {
    border-color: $basic-blue;
  }

  @media (min-width: $tablet-width) {
    transform: rotate(180deg);
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.tags__title {
  margin: 0 auto;
  padding: 0 15px;
  font-weight: bold;
  color: $main-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.08em;
    transform: rotate(180deg);
  }

  @media (min-width: $desktop-width) {
    margin-right: 20px;
  }
}

.tags__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 18px;
  padding-bottom: 27px;
  padding-left: 25px;
  padding-right: 17px;
  list-style-type: none;
}

.tags__input {
  padding-top: 18px;
  padding-bottom: 27px;
  padding-left: 25px;
  padding-right: 28px;
  width: 100%;
  font-family: $main-font;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  color: rgba($special-grey, 0.6);
  background-color: transparent;
  border: none;
  outline: none;
  resize: none;

  @media (min-width: $tablet-width) {
    transform: rotate(180deg);
  }
}
