.tariffs {
  background-color: $light-grey;
  border-radius: 0 0 30px 30px;
  box-shadow: 0 30px 0 $additional-bg_color;

  @media (min-width: $tablet-width) {
    border-radius: 0 0 60px 60px;
    box-shadow: 0 60px 0 $additional-bg_color;
  }
}

.tariffs__container {
  position: relative;
  padding-top: 37px;
  padding-bottom: 39px;

  &::after {
    position: absolute;
    top: 37px;
    right: 25px;
    width: 100px;
    height: 100px;
    background-image: url("../../img/rates@1x.png");
    background-size: cover;
    border-radius: 20px;
    content: "";
  }

  @media (min-width: $tablet-width) {
    padding-top: 70px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 63px;

    &::before {
      position: absolute;
      top: 151px;
      right: 40px;
      width: 198px;
      height: 285px;
      background: $dark-grey;
      border-radius: 20px;
      content: "";
    }

    &::after {
      top: 410px;
      right: 85px;
      width: 100px;
      height: 100px;
      background-image: url("../../img/rates@1x.png");
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/rates@2x.png");
      background-size: cover;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 103px;
    padding-left: 45px;
    padding-bottom: 165px;

    &::before {
      top: 235px;
      right: 244px;
      width: 446px;
      height: 300px;
    }

    &::after {
      top: 287px;
      right: 133px;
      width: 198px;
      height: 198px;
    }
  }
}

.tariffs__header {
  padding-top: 14px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 44px;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-bottom: 75px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 135px;
  }
}

.tariffs__list {
  position: relative;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  padding-left: 24px;
  font-family: $main-font;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  color: $special-grey;

  &::after {
    position: absolute;
    bottom: 0;
    left: 24px;
    width: 200px;
    border-top: 1px solid $dilimeter-grey;
    content: "";
  }

  @media (min-width: $tablet-width) {
    padding-left: 90px;
    margin-bottom: 36px;

    &::after {
      position: absolute;
      bottom: 0;
      left: 90px;
      width: 561px;
      border-top: 1px solid $dilimeter-grey;
      content: "";
    }
  }

  @media (min-width: $desktop-width) {
    padding-right: 238px;
    margin-left: 85px;
  }
}

.tariffs__item {
  position: relative;
  padding-top: 13px;
  padding-bottom: 15px;
  padding-right: 40px;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    border-top: 1px solid $dilimeter-grey;
    content: "";
  }

  &::after {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 4px;
    right: 0;
    width: 34px;
    height: 34px;
    background-color: $basic-white;
    border-radius: 50%;
    color: $basic-white;
    content: "";
  }

  &--first::after {
    background-color: $special-orange;
    content: "1";
  }

  &--second::after {
    background-color: $special-yellow_dark;
    content: "2";
  }

  &--third::after {
    background-color: $basic-yellow;
    content: "3";
  }

  @media (min-width: $tablet-width) {
    display: flex;
    width: 564px;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 18px;
    padding-right: 0;
    font-size: 28px;
    line-height: 28px;

    &::before {
      width: 561px;
    }

    &::after {
      top: 0;
      left: -90px;
      width: 68px;
      height: 68px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 814px;

    &::before {
      width: 812px;
    }

    &::after {
      top: 2px;
    }
  }
}

.tariffs__price {
  margin: 0;
  padding: 0;
  padding-top: 6px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.tariffs__button {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 219px;
  font-size: 16px;
  line-height: 16px;
  color: $tariffs-blue;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 90px;
    width: 370px;
    font-size: 20px;
    line-height: 20px;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 68px;
      height: 68px;
      border-radius: 50%;
      background-color: $dark-grey;
      content: "";
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: 85px;
  }
}

.tariffs__icon {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    top: 19px;
    left: 24px;
    width: 20px;
    height: 27px;
    fill: $tariffs-blue;
  }
}
