.transport {
  &--profile {
    border: 1px solid $input-grey;
    border-radius: 10px;
  }
}

.transport__list {
  display: flex;
  width: 129px;
  margin: 0 auto;
  padding: 0;
  padding-top: 8px;
  padding-bottom: 15px;
  list-style-type: none;

  &--form {
    margin: 0;
  }

  @media (min-width: $mobile-width) {
    flex-direction: column;
    margin: 0;

    &--form {
      flex-direction: row;
      padding: 0;
    }
  }
}

.transport__title {
  margin: 0 auto;
  padding: 0 15px;
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: $main-color;
}

.transport__toggle {
  display: flex;
  justify-content: center;
  align-items: center;

  &--active {
    .transport__icon {
      fill: $main-color;
    }
  }
}

.transport__icon {
  width: 17px;
  height: 16px;
  fill: rgba($main-color, 0.15);
}
