.transport__list {
  display: flex;
  justify-content: space-between;
  width: 129px;
  margin-right: 52px;
  padding: 0;
  padding-bottom: 13px;
  list-style-type: none;

  @media (min-width: $mobile_width) {
    flex-direction: column;
    margin: 0;
  }
}

.transport__title {
  margin: 0;
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: $main_color;
}
