.traveler-link {
  margin-left: 2px;
  color: $main-color;
  text-decoration: none;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    grid-column: 2/4;
    margin-left: 68px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/4;
    grid-row: 2;
  }
}
