.travelers-to-choose {
  @media (min-width: $tablet-width) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 60px;
    padding-right: 60px;
  }
}


.travelers-to-choose__wrapper {
  padding-top: 21px;
  background-color: $main-bg_color;
  box-shadow: 0 30px 0 $main-bg_color, 0 -20px 0 $main-bg_color;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 1320px;
  }
}
