.wishes__title {
  margin: 0;
  padding-bottom: 19px;
  font-family: $font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  color: $special_grey;
}

.wishes__list {
  display: grid;
  grid-template-columns: min-content;
  grid-template-rows: min-content;
  row-gap: 10px;
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
  list-style-type: none;

  @media (min-width: 767px) {
    & {
      column-gap: 25px;
    }
  }
}

.wishes__item {
  display: grid;
  grid-template-columns: min-content min-content;
  grid-template-rows: min-content;
  column-gap: 14px;
  font-family: $font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  align-items: center;
  white-space: nowrap;
  text-transform: uppercase;
  color: $main_text-color;

  &::before {
    width: 26px;
    height: 18px;
    background-color: $main_bg-color;
    content: "";
  }

  @media (min-width: 767px) {
    & {
      grid-row: 1 / -1;
      font-size: 20px;
      line-height: 20px;
    }

    &::before {
      width: 35px;
      height: 24px;
      background-color: $main_bg-color;
      content: "";
    }
  }
}
