.wishes__title {
  margin: 0;
  padding-bottom: 19px;
  font-family: $font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  color: $special_grey;
}

.wishes__list {
  display: grid;
  grid-template-columns: 26px 120px;
  grid-template-rows: 18px;
  column-gap: 14px;
  row-gap: 10px;

  margin: 0;
  padding: 0;
  padding-bottom: 15px;
  list-style-type: none;
}

.wishes__item {
  grid-column: 2;
  font-family: $font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  text-transform: uppercase;
  color: $special_blue_dark;
    &::before {
      grid-column: 1;
      width: 10px;
      height: 10px;
      background-color: $basic_blue_light;
      content: '';
    }
}
